html {
    font-family: Helvetica, sans-serif;
}
header {
    border-bottom: 1px solid black;
    width: 100%;
    display: inline-block;
}

h1 {
    text-transform: uppercase;
    display: inline-block;
    margin: 20px;
}
nav {
    display: inline-block;
}

li {
    list-style: none;
    padding: 0px, 10px;
    display: inline-block;
}

a {
    text-decoration: none;
    color: green;
    padding: 20px 40px;
}

