body {
    margin: 0px;
    padding: 0px;
    background: #CCCCCC;
}

nav.navigation li {
    font-size: 24px;
    line-height: 40px;
    height: 40px;
    padding: 20px;
    display: inline-block;
}

nav.navigation ul {
    background: #444;
    text-align: center;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

nav.navigation a {
    text-decoration: none;
    color: #ffffff;
}