@import url('https://use.fontawesome.com/releases/v5.10.2/css/all.css');

body {
    background: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
}

#normal .button {
    border: 1px solid black;
    border-radius: 12px;
    text-decoration: none;
    padding: 4px 8px;
    font-size: 1rem;
    color: black;
    font-style: italic;
    background-color: transparent;
    cursor: pointer;
}

#filled .button,
#icon .button {
    background: rgb(51, 51, 51);
    border: 1px solid black;
    border-radius: 12px;
    text-decoration: none;
    padding: 4px 8px;
    font-size: 1rem;
    color: rgb(251, 251, 251);
    margin-right: 6px;
    cursor: pointer;
}

#filled .button:hover,
#icon .button:hover {
    background: rgb(0, 102, 0);
}